* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, lightblue, blue);
    position: relative;
}

section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background-color: white;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#zeichenkette, #trenner {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 1.2rem;
}

label {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.radio div {
    display: flex;
    gap: 0.5rem;
}

.radio div label {
    font-size: 1.2rem;
}

.submit {
    padding: 0.5rem 1rem;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
}

.submit:hover {
    background-color: white;
    border: 1px solid gray;
    color: black;
}

.ausgabe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.ausgabe p {
    text-align: center;
    font-size: 1.2rem;
    color: red;
    height: 2rem;
}

.ersterTeil {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.zweiterTeil {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

img {
    width: 150px;
    position: absolute;
    left: 5rem;
    top: 5rem;
}